{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Edit Profile {% endblock title %}

{% block content %}
<style>
    #uniqueee {
        display: block;
        width: fit-content;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 30px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #e6e6e6;
        border-radius: 1px;
    }
</style>
<section style="background-color: #fff;">
    <div id="uniqueee">
        <h1 class="text-primary">Edit Profile {{user}}</h1><br>
        <div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form.media.js }} {{ form|crispy }}
                <div class="text-center"><button type="submit" class="btn btn-primary">Save</button></div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
