{% extends "base.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock style %}

{% block content %}
<header>
    <div class="container" id="container-id">
        <div class="profile">
            <div class="profile-image">
                <img src="{{user.avatar.url}}" width="200px" height="200px" alt="">
            </div>
            <div class="profile-user-settings">
                <h1 class="profile-user-name font-weight-bold">{{user}}</h1>
                {% if request.user == user %}
                    <a href="{% url 'edit_profile' request.user %}" class="btn profile-edit-btn">Edit Profile</a>
                    <button class="btn profile-settings-btn" aria-label="profile settings" onclick="post_create()"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
                {% else %}
                    <button class="follow-btn" id="follow-btn" data-userId="{{user.id}}" data-userAction="{% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}">
                        {% if request.user in user.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}  
                    </button>
                {% endif %}
                {% comment %} 
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> 
                {% endcomment %}
            </div>
            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">{{user.posts.all|length}}</span> posts</li>
                    <li data-bs-toggle="modal" data-bs-target="#followers"><span class="profile-stat-count" id="followers-counter">{{user.followers.all|length}}</span> followers</li>
                    <li data-bs-toggle="modal" data-bs-target="#followings"><span class="profile-stat-count" id="following-counter">{{user.following.all|length}}</span> following</li>
                </ul>
            </div>
            <div class="profile-bio">
                <p>
                    <span class="profile-real-name">
                        {% if user.first_name %}
                            {{user.first_name}}
                        {% endif %}
                        {% if user.last_name %}
                            {{user.last_name}}
                        {% endif %} 
                    </span>
                    {% if user.biography %}
                        => {{user.biography}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="gallery">
            {% for post in posts_orderByCreationAscending %}
                <a class="gallery-item" tabindex="0" href="{{ post.get_absolute_url }}">
                    <img src="{{post.image.url}}" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes.all|length}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.comments.all|length}}</li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</main>
<div class="modal fade" id="followers" tabindex="-1" aria-labelledby="followersLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersLabel">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for follower in user.followers.all %}
          <div class="row">
              <div class="col mb-3">
                  <a href="{% url 'profile' follower %}" class="modal-item-info">
                      <img src="{{follower.photo.url}}" alt="">
                      {{follower}}
                  </a>
              </div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="followings" tabindex="-1" aria-labelledby="followingsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingsLabel">Followings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for following in user.following.all %}
          <div class="row">
              <div class="col mb-3">
                  <a href="{% url 'profile' following %}" class="modal-item-info">
                      <img src="{{following.photo.url}}" alt="">
                      {{following}}
                  </a>
              </div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
let post_create = () => {
    Swal.fire({
        title: "Post Create",
        html: `
            <form action="{% url 'post:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="file"  name="image"><hr/>
                <textarea class="form-control z-depth-1" name="caption" rows="3" placeholder="Caption..."></textarea><hr/>
                <button type="submit">Post</button>
            </form>`,
        showConfirmButton: false,
    });
};
</script>

<script>
let gallery = document.getElementsByClassName("gallery")[0];
let blockRequest = false;
let page = 1;
window.addEventListener("scroll", (e) => {
    let innerHeight = window.innerHeight;
    let pageYOffset = window.pageYOffset;
    let clientHeight = document.body.clientHeight;
    let galleryItem = document.getElementsByClassName("gallery-item");
    if (innerHeight + pageYOffset == clientHeight && blockRequest == false) {
        blockRequest = true;
        page += 1;
        axios
            .get("", {
                params: {
                    page: page,
                },
            })
            .then((res) => {
                if (res.data.response !== "failure") {
                    gallery.innerHTML += res.data.response;
                    window.setInterval(() => {
                        for (let item of galleryItem) {
                            if (item.classList.contains("animate__fadeInUp")) {
                                item.classList.remove("animate__fadeInUp");
                            }
                        }
                    }, 1000);
                    blockRequest = false;
                }
            })
            .catch((err) => {
                console.log(err);
                blockRequest = false;
            });
    }
});
</script>

<script>
let userFollowButton = document.getElementById("follow-btn");
let userAction = userFollowButton.getAttribute("data-userAction");
let followersCounter = document.getElementById("followers-counter");

userFollowButton.addEventListener("click", (e) => {
    e.preventDefault();
    var fd = new FormData();
    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
    fd.append("user_id", userFollowButton.getAttribute("data-userId"));
    fd.append("user_action", userAction);
    axios
        .post("/account/follow/", fd)
        .then((res) => {
            if (userAction === "follow") {
                userAction = "unfollow";
                userFollowButton.innerText = "Unfollow";
                followersCounter.innerText = parseInt(followersCounter.innerText) + 1;
            } else {
                userAction = "follow";
                userFollowButton.innerText = "Follow";
                followersCounter.innerText = parseInt(followersCounter.innerText) - 1;
            }
        })
        .catch((err) => {
            console.log(err);
        });
});
</script>
{% endblock content %}