{% extends "base.html" %}
{% load static %}
{% load post_tags %}
{% block title %} Profile {% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock style %}

{% block content %}
<header>
    <div class="container" id="container-id">
        <div class="profile">
            <div class="profile-image">
                <img src="{{user.avatar.url}}" width="200px" height="200px" alt="">
            </div>
            <div class="profile-user-settings">
                <h1 class="profile-user-name font-weight-bold">{{user}}</h1>
                {% if request.user == user %}
                    <a href="{% url 'edit_profile' request.user %}" class="btn profile-edit-btn">Edit Profile</a>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
                {% else %}
                    <button class="follow-btn" id="follow-btn" data-userId="{{user.id}}" data-userAction="{% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}">
                        {% if request.user in user.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}  
                    </button>
                {% endif %}
                {% comment %} 
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> 
                {% endcomment %}
            </div>
            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">{{user.posts.all|length}}</span> posts</li>
                    <li data-bs-toggle="modal" data-bs-target="#followers"><span class="profile-stat-count" id="followers-counter">{{user.followers.all|length}}</span> followers</li>
                    <li data-bs-toggle="modal" data-bs-target="#followings"><span class="profile-stat-count" id="following-counter">{{user.following.all|length}}</span> following</li>
                </ul>
            </div>
            <div class="profile-bio">
                <p>
                    <span class="profile-real-name">
                        {% if user.first_name %}
                            {{user.first_name}}
                        {% endif %}
                        {% if user.last_name %}
                            {{user.last_name}}
                        {% endif %} 
                    </span>
                    {% if user.biography %}
                        => {{user.biography}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="gallery">
            {% for post in posts_orderByCreationAscending %}
                <a class="gallery-item" tabindex="0" href="{{ post.get_absolute_url }}">
                    {% if post.media.first|extension == 'image' %}
                        <img src="{{post.media.first.media.url}}" class="gallery-image" alt="">
                        {% if post.media.count > 1 %}
                            <span class="eapps-instagram-feed-posts-item-image-icon-carousel eapps-instagram-feed-posts-item-image-icon es-post-type">
                                <svg viewBox="0 0 45.964 45.964">
                                    <path
                                        d="M32.399,40.565H11.113v1.297c0,2.24,1.838,4.051,4.076,4.051h26.733c2.239,0,4.042-1.811,4.042-4.051V15.13c0-2.237-1.803-4.068-4.042-4.068h-1.415v21.395C40.507,36.904,36.845,40.566,32.399,40.565z"
                                    ></path>
                                    <path
                                        d="M0,4.102l0,28.355c0,2.241,1.814,4.067,4.051,4.067h28.365c2.237,0,4.066-1.826,4.066-4.067l0-28.356c0-2.238-1.828-4.051-4.066-4.051H4.051C1.814,0.05,0,1.862,0,4.102z"
                                    ></path>
                                </svg>
                            </span>
                        {% endif %}  
                    {% else %}
                        <video src="{{post.media.first.media.url}}#t=1" class="gallery-image" alt="" preload="auto"></video>
                        {% if post.media.count == 1 %}
                            <span class="eapps-instagram-feed-posts-item-image-icon-video eapps-instagram-feed-posts-item-image-icon es-post-type">
                                <svg viewBox="0 0 24 24">
                                    <path
                                        d="M23.467,5.762c-0.118-0.045-0.232-0.068-0.342-0.068c-0.246,0-0.451,0.087-0.615,0.26l-3.76,3.217v5.766l3.76,3.578c0.164,0.173,0.369,0.26,0.615,0.26c0.109,0,0.223-0.023,0.342-0.068C23.822,18.552,24,18.284,24,17.901V6.57C24,6.186,23.822,5.917,23.467,5.762z"
                                    ></path>
                                    <path
                                        d="M16.33,4.412c-0.77-0.769-1.696-1.154-2.78-1.154H3.934c-1.084,0-2.01,0.385-2.78,1.154C0.385,5.182,0,6.108,0,7.192v9.616c0,1.084,0.385,2.01,1.154,2.78c0.77,0.77,1.696,1.154,2.78,1.154h9.616c1.084,0,2.01-0.385,2.78-1.154c0.77-0.77,1.154-1.696,1.154-2.78v-3.076v-3.478V7.192C17.484,6.108,17.099,5.182,16.33,4.412z M8.742,17.229c-2.888,0-5.229-2.341-5.229-5.229c0-2.888,2.341-5.229,5.229-5.229S13.971,9.112,13.971,12C13.971,14.888,11.63,17.229,8.742,17.229z"
                                    ></path>
                                    <circle cx="8.742" cy="12" r="3.5"></circle>
                                </svg>
                            </span>
                        {% else %}
                            <span class="eapps-instagram-feed-posts-item-image-icon-carousel eapps-instagram-feed-posts-item-image-icon es-post-type">
                                <svg viewBox="0 0 45.964 45.964">
                                    <path
                                        d="M32.399,40.565H11.113v1.297c0,2.24,1.838,4.051,4.076,4.051h26.733c2.239,0,4.042-1.811,4.042-4.051V15.13c0-2.237-1.803-4.068-4.042-4.068h-1.415v21.395C40.507,36.904,36.845,40.566,32.399,40.565z"
                                    ></path>
                                    <path
                                        d="M0,4.102l0,28.355c0,2.241,1.814,4.067,4.051,4.067h28.365c2.237,0,4.066-1.826,4.066-4.067l0-28.356c0-2.238-1.828-4.051-4.066-4.051H4.051C1.814,0.05,0,1.862,0,4.102z"
                                    ></path>
                                </svg>
                            </span>
                        {% endif %}
                    {% endif %}
                    <div class="gallery-item-info">
                        <ul class="{% if post.caption %} divide1 {% endif %}">
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.total_likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.comments.all|length}}</li>
                        </ul>
                        {% if post.caption %}
                            <ul class="divide2">
                                <li style="text-align: center;"><i aria-hidden="true">{{post.caption|truncatechars:100}}</i></li>
                            </ul>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</main>
<div class="modal fade" id="followers" tabindex="-1" aria-labelledby="followersLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersLabel">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for follower in user.followers.all %}
          <div class="row">
              <div class="col mb-3">
                  <a href="{% url 'profile' follower %}" class="modal-item-info">
                      <img src="{{follower.photo.url}}" alt="">
                      {{follower}}
                  </a>
              </div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="followings" tabindex="-1" aria-labelledby="followingsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingsLabel">Followings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for following in user.following.all %}
          <div class="row">
              <div class="col mb-3">
                  <a href="{% url 'profile' following %}" class="modal-item-info">
                      <img src="{{following.photo.url}}" alt="">
                      {{following}}
                  </a>
              </div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
let postPopUpButton = document.getElementsByClassName("btn profile-settings-btn")[0];
postPopUpButton.addEventListener("click", (e) => {
    Swal.fire({
        width: 600,
        title: "Create Post",
        html: `
        <form action="{% url 'post:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input
                id="id_media"
                class="form-control-lg mb-4"
                type="file"
                name="media"
                accept=".jpeg, .jpg, .png, .mkv, .mp4"
                multiple
                required
                aria-required="true"
            />
            <textarea
                class="form-control form-control-lg z-depth-1 mb-4"
                name="caption"
                placeholder="Caption..."
                rows="10"
                maxlength="2000"
            ></textarea>
            <input
                id="id_location"
                class="form-control mb-4"
                type="text"
                name="location"
                placeholder="Location"
                maxlength="50"
            />
            <button type="submit" class="swal2-confirm swal2-styled">Post</button>
        </form>
        `,
        showConfirmButton: false,
    });
});  
</script>

<script>
let gallery = document.getElementsByClassName("gallery")[0];
let blockRequest = false;
let page = 1;
window.addEventListener("scroll", (e) => {
    let innerHeight = window.innerHeight;
    let pageYOffset = window.pageYOffset;
    let clientHeight = document.body.clientHeight;
    let galleryItem = document.getElementsByClassName("gallery-item");
    if (innerHeight + pageYOffset >= clientHeight && blockRequest == false) {
        blockRequest = true;
        page += 1;
        axios
            .get("", {
                params: {
                    page: page,
                },
            })
            .then((res) => {
                if (res.data.response !== "failure") {
                    gallery.innerHTML += res.data.response;
                    window.setInterval(() => {
                        for (let item of galleryItem) {
                            if (item.classList.contains("animate__fadeInUp")) {
                                item.classList.remove("animate__fadeInUp");
                            }
                        }
                    }, 1000);
                    blockRequest = false;
                }
            })
            .catch((err) => {
                console.log(err);
                blockRequest = false;
            });
    }
});
</script>

<script>
let userFollowButton = document.getElementById("follow-btn");
let userAction = userFollowButton.getAttribute("data-userAction");
let followersCounter = document.getElementById("followers-counter");

userFollowButton.addEventListener("click", (e) => {
    e.preventDefault();
    var fd = new FormData();
    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
    fd.append("user_id", userFollowButton.getAttribute("data-userId"));
    fd.append("user_action", userAction);
    axios
        .post("/account/follow/", fd)
        .then((res) => {
            if (userAction === "follow") {
                userAction = "unfollow";
                userFollowButton.innerText = "Unfollow";
                followersCounter.innerText = parseInt(followersCounter.innerText) + 1;
            } else {
                userAction = "follow";
                userFollowButton.innerText = "Follow";
                followersCounter.innerText = parseInt(followersCounter.innerText) - 1;
            }
        })
        .catch((err) => {
            console.log(err);
        });
});
</script>
{% endblock content %}