{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} New Password {% endblock title %}

{% block content %}
<style>
    #unique {
        display: block;
        width: fit-content;
        margin: auto;
        padding: 30px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #e6e6e6;
        border-radius: 1px;
    }
</style>
<div style="height: 202.5px; background-color: #fff;"></div>
<section style="height: 607.5px; background-color: #fff;">
    <div id="unique">
        <h1 class="text-primary">Password Reset Confirmation</h1>
        {% if validlink %}
            <h3 class="text-center">Enter new password</h3>
            <div>
                <form action="" method="POST">
                    {% csrf_token %} {{form|crispy}}
                    <div class="text-center"><button type="submit" class="btn btn-primary">Reset</button></div>
                </form>
            </div>
        {% else %}
            <h3>Invalid link</h3>
        {% endif %}
    </div>
</section>
{% endblock content %}
