{% extends 'base.html' %}
{% load static %}
{% load post_tags %}
{% block title %} Post Detail {% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'css/detail.css' %}">{% endblock style %}

{% block content %}
<div id="detail-first-div">
  <section>
    <div id="request-user-id" hidden>{{request.user.id}}</div>
    <div class="header">
      <div class="user">
        <a href="{% url 'profile' post.user %}"><img src="{{post.user.avatar.url}}" alt=""></a>
        <a href="{% url 'profile' post.user %}">
          <strong>{{post.user}}</strong>
        </a>
      </div>
      <div class="param">
        <svg aria-label="Plus d’options" class="_8-yf5 " fill="#262626" height="16" role="img" viewBox="0 0 48 48"
          width="16">
          <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle>
          <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5"></circle>
          <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5"></circle>
        </svg>
      </div>
    </div>
    <div class="img-container">
      <img src="{{post.image.url}}" alt="Publication Photo">
    </div>
    <div class="toolbar">
      <a {% if request.user in post.likes.all %} class="like active" {% else %} class="like" {% endif %} href="#" data-postId="{{post.id}}">
        <svg height="24" role="img" viewBox="0 0 48 48" width="24" id="like">
          <path
            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
          </path>
        </svg>
      </a>
      <a class="comment">
        <svg fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24">
          <path clip-rule="evenodd"
            d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
            fill-rule="evenodd"></path>
        </svg>
      </a>
      <a class="transfer">
        <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24">
          <path
            d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
          </path>
        </svg>
      </a>
      <a class="signet">
        <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24">
          <path
            d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
          </path>
        </svg>
      </a>
    </div>
    <div id="like-container">
      <div class="description" id="like-body">
        <strong id="like-number">{{post.likes.all|length}}</strong>
        <span id="like-or-likes">
          {% if post.likes.all|length > 1 %}
            Likes
          {% else %}
            Like
          {% endif %}
        </span>
      </div>
    </div>
    <div class="description">
      <strong><a href="{% url 'profile' post.user %}">{{post.user}}&nbsp;&nbsp;</a></strong>{{post.caption}}<br><br>
      <span style="font-size: small; font-weight: 500; color: #7c818e;">{{post.created|customtimesince}} ago</span>
    </div>
  </section>
  <div class="comment-form">
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="text" id="comment-text-form" class="comment-textarea" placeholder="Comment here"></textarea>
        <button class="comment-submit" id="comment-post-button" type="submit">post</button>
    </form>
  </div>
  {% if comments_orderByLikesAscending|length > 1 %}
    <div class="text-right mb-3">
      <div id="topComments" class="d-inline-block btn btn-dark rounded">Top</div>
      <div id="newestComments" class="d-inline-block btn btn-dark rounded">Newest</div>
    </div>
  {% endif %}
  <div id="comment-container">
    {% for cm in comments_orderByLikesAscending %}
      <div class="comments">
        <div class="comment-profile">
            <a href="{% url 'profile' cm.user %}"><img src="{{cm.user.avatar.url}}" alt=""></a>
        </div>
        <div class="comment-main">
            <div class="comment-text">
                <a class="user" href="{% url 'profile' cm.user %}"><strong>{{cm.user}}</strong></a>
                <div>{{cm.text}}</div>
            </div>
            <div class="comment-info" style="font-size: small; font-weight: 500; color: #7c818e;">
                <div class="comment-date">{{cm.created|customtimesince}}</div>
                <div class="comment-likes">
                  {% if cm.likes.all|length > 1 %}
                    <span class="like-counts">{{cm.likes.all|length}}</span> <span class="like-word">Likes</span>
                  {% else %}
                    <span class="like-counts">{{cm.likes.all|length}}</span> <span class="like-word">Like</span>
                  {% endif %}
                </div>
                <div class="comment-reply">Reply</div>
            </div>
        </div>
        <div class="comment-like" data-commentId="{{cm.id}}" data-commentAction="{% if request.user in cm.likes.all %}dis{% endif %}like">
          {% if request.user in cm.likes.all %}
            <i class="fas fa-heart heart-active"></i>
          {% else %}
            <i class="far fa-heart"></i>
          {% endif %}
        </div>
      </div><hr>
    {% endfor %}
  </div>
</div>

<script>
let requestUserId = document.getElementById("request-user-id").innerText;

let postLikeButton = document.querySelector("a.like");
let postLikeNumber = document.getElementById("like-number");
let postLikeOrLikes = document.getElementById("like-or-likes");

postLikeButton.addEventListener("click", (e) => {
    if (requestUserId != "None") {
        e.preventDefault();
        var fd = new FormData();
        fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
        fd.append("post_id", postLikeButton.getAttribute("data-postId"));
        let action;
        if (postLikeButton.classList.contains("active")) {
            action = "dislike";
        } else {
            action = "like";
        }
        fd.append("post_action", action);
        axios
            .post("/post/post-like/", fd)
            .then((res) => {
                postLikeButton.classList.toggle("active");
                if (action == "like") {
                    postLikeNumber.innerText = parseInt(postLikeNumber.innerText) + 1;
                    if (parseInt(postLikeNumber.innerText) > 1) {
                        postLikeOrLikes.innerText = "Likes";
                    }
                } else {
                    postLikeNumber.innerText = parseInt(postLikeNumber.innerText) - 1;
                    if (parseInt(postLikeNumber.innerText) < 2) {
                        postLikeOrLikes.innerText = "Like";
                    }
                }
            })
            .catch((err) => {
                console.log(err);
            });
    } else {
        alert("You have to login first before liking.");
    }
});
</script>

<script>
let commentPostButton = document.getElementById("comment-post-button");
let commentTextForm = document.getElementById("comment-text-form");
let commentContainer = document.getElementById("comment-container");
let comments = document.getElementsByClassName("comments");

commentPostButton.addEventListener("click", (e) => {
    if (requestUserId != "None") {
        e.preventDefault();
        fd = new FormData();
        fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
        fd.append("text", commentTextForm.value);
        axios
            .post("", fd)
            .then((res) => {
                let newCommentId = res.data.newCommentId
                let newComment = `
                <div class="comments animate__animated animate__fadeInDown">
                    <div class="comment-profile">
                        <img src="{{request.user.avatar.url}}" alt="" />
                    </div>
                    <div class="comment-main">
                        <div class="comment-text">
                            <a class="user" href="{% url 'profile' request.user %}"><strong>{{request.user}}</strong></a>
                            ${commentTextForm.value}
                        </div>
                        <div class="comment-info" style="font-size: small; font-weight: 500; color: #7c818e">
                            <div class="comment-date">now</div>
                            <div class="comment-likes">
                                <span class="like-counts">0</span> <span class="like-word">Like</span>
                            </div>
                            <div class="comment-reply">Reply</div>
                        </div>
                    </div>
                    <div class="comment-like" data-commentId="${newCommentId}" data-commentAction="like">  
                        <i class="far fa-heart"></i>
                    </div>
                </div>
                <hr />          
                `;
                commentContainer.innerHTML = newComment + commentContainer.innerHTML;
                commentTextForm.value = "";
                commentLikeListener();
                window.setInterval(() => {
                    for (let item of comments) {
                        if (item.classList.contains("animate__fadeInDown")) {
                            item.classList.remove("animate__fadeInDown");
                        }
                    }
                }, 1000);
            })
            .catch((err) => {
                console.log(err);
            });
    } else {
        e.preventDefault();
        alert("You have to login first before commenting.");
    }
});
</script>

<script>
const commentLikeListener = function () {
    let commentLikeButton = document.getElementsByClassName("comment-like");
    Array.from(commentLikeButton).forEach((cm, i) => {
        cm.addEventListener("click", (e) => {
            if (requestUserId != "None") {
                let commentId = cm.getAttribute("data-commentId");
                let commentAction = cm.getAttribute("data-commentAction");
                let commentLikeIcon = cm.firstElementChild;
                let commentLikeNumber = document.getElementsByClassName("comment-likes")[i].firstElementChild;
                let commentLikeOrLikes = commentLikeNumber.nextElementSibling;
                var fd = new FormData();
                fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
                fd.append("comment_id", commentId);
                fd.append("comment_action", commentAction);
                axios
                    .post("/post/comment-like/", fd)
                    .then((res) => {
                        if (commentAction == "like") {
                            commentLikeIcon.classList = "fas fa-heart heart-active";
                            cm.setAttribute("data-commentAction", "dislike");
                            commentLikeNumber.innerText = parseInt(commentLikeNumber.innerText) + 1;
                            if (parseInt(commentLikeNumber.innerText) > 1) {
                                commentLikeOrLikes.innerText = "Likes";
                            }
                        } else {
                            commentLikeIcon.classList = "far fa-heart";
                            cm.setAttribute("data-commentAction", "like");
                            commentLikeNumber.innerText = parseInt(commentLikeNumber.innerText) - 1;
                            if (parseInt(commentLikeNumber.innerText) < 2) {
                                commentLikeOrLikes.innerText = "Like";
                            }
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            } else {
                alert("You have to login first before liking.");
            }
        });
    });
};
commentLikeListener();
</script>

<script>
let topComments = document.getElementById("topComments");
let newestComments = document.getElementById("newestComments");
const orderBy = function (by) {
    axios
        .get(`/post/detail/{{post.slug}}/API`, { params: { by: by } })
        .then((res) => {
            if (res.data.response != undefined) {
                let comments = res.data.response;
                commentContainer.innerHTML = comments;
                commentLikeListener();
            } else {
                console.log("error");
            }
        })
        .catch((err) => {
            console.log(err);
        });
};

topComments.addEventListener("click", (e) => {
    orderBy("comments_orderByLikesAscending");
});
newestComments.addEventListener("click", (e) => {
    orderBy("comments_orderByCreationAscending");
});
</script>
{% endblock content %}